
*{ 
margin: 0px;
padding: 0px;
box-sizing: border-box;
  }
  
  
  header{
      widht: 100%;
      padding: 10px 0px;
      margin-top: -10px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .container .menu-box{
    justify-content: space-between;
    width:1140px;
    margin:auto;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
   }
  
  .contaner{
      width:1140px;
      margin:auto;
    margin-bottom: 0px;
      display: flex;
      /* justify-content: center; */
      /* align-items: center;   */
  }
  
  
  
  .logo, .bttns{
      flex-basis:20%;
      
  }
  
  .logo a img{
      width: 175px;
  }
  .menu{
      flex-basis: 50%;
      display: flex;
  }
  
  .menu ul{
  padding:10px;
  }
  
  .menu ul li{
    list-style-type: none;
    display: inline-block;
    margin: 3px auto;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 5px;
    font-weight: bold;
    color: #0e72cc;
  }
 
  
  .bttns button {
    font-weight: bold;
    margin: 0px;
    padding: 0px 5px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    background-color:#0e72cc;
    color: white;
    border-radius: 5px;
    display: flex;
    display: inline-block;
}
.bttns button:hover{
    background-color:#08aff1ea;
}

.submitbtnss{
    margin:0px;
   font-size: 13px;
    background-color:blue;
    color: red;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    align-content: center;
    }


.form-section{
    
    width: 100%;
    background-color:blue;
    height: 100vh;
}
.form-section:hover{
    background-color: aqua;
    transition: 0.8s;
}


.form-box{
margin-top: 70px;
width: 900px;
height: 70vh;
background-color:white;
display: flex;   
}

.left-side, .right-side{
  flex-basis: 50%;
}
.left-side{
    background: url(../img/cc.jpg) center center no-repeat;
    background-size: cover;
}

.right-side{
padding: 50px 50px;
margin-bottom: 50px;
}

input, select, textarea{
    width: 100%;
    padding: 10px;
    margin: 8px 0px;
    background-color: white;
}
.right-side h1{
text-align: center;
margin-bottom: 20px;
margin-top: -25px;
}
.right-side form{
    padding: auto;
    margin-bottom: 2px;
    margin-top: 2px;
    }
.name input{
    width: 49.1%;
    }
.name .first-name{
    margin-right: 2px;
  }
.condition input{
    width: auto;
}
.condition span{
    margin-bottom: 5px;
   }

.condition submitbtns{
    box-sizing: border-box;
    background-color: blue;
    color: white;
   }

   .submitbtnss:hover{
    box-sizing: border-box;
    background-color: green;
    color:aqua;
   }


input::placeholder, textarea::placeholder{
font-family: poppins;
}
select{
font-family: poppins;
}

/*************************
****     Global CSS    ****
**************************/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: "Open Sans", sans-serif;
}


h2{text-align: center;
    margin-top:  40px;
    font-size: 50px;
    font-style: bold;
    }

   
a, a:hover{
    text-decoration: none;
}


/* secton01 css file */
.sec01{
    margin-top: 50px;
    padding: 10px;
    display: flex;
    width: 95%;
    height: 75vh;
    border-radius: 8px;
    }

    .left, .right{
        flex-basis: 50%;
    }
    .right{ background: url(../img/1.PNG) center center no-repeat;
        background-size: cover;
        }
        .left{
            margin-left: 70px;
            color: #0e72cc;
            }

        .left button{
            margin-top: 20px;
            width: 150px;
            height: 50px;
            background-color: #0e72cc;
            color: white;
            font-weight: bold;
            font-size: 16px;
        }

        .left h1{
            font-size: 60px;
            margin-top: 150px;
            font-weight: bold;
        }
        .left p{
            font-size: 35px;
            font-weight:lighter;
        }

  
  
   